@charset "utf-8";

// ===================================================================
// 固定ページ関係
// ===================================================================

// home
.home {
	.menu-bar {
		h1 { color: #fff; }
		.hd-logo { display: none; }
		.cta {
			.tel { color: #fff; }
		}
		.h-nav_fix {
			.hd-logo { display: inline-block; }
			.cta {
				.tel { color: $main_color; }
			}
		}
	}
	
	.kv { width: 100%; height: 620px; background-color: #9cd9d4; background-image: url(#{$img_path}bg/bg_main_01.jpg); background-size: cover; background-repeat: no-repeat; background-position: center center;
			// background-image: url(#{$img_path}bg/bg_kv_.png); background-repeat: repeat; background-position: left top; @include bg_size(158px 144px);
		.glide__wrapper { width: 100%; }
		.glide{ width: 100%; max-width: 1280px; box-sizing: border-box; padding: 0 $bs*3; height: 540px !important; margin: 0 auto; }
		.glide__slide { height: 540px; }
		.slide { position: relative; height: 100%; color: #fff; 
			img.w-max { position: absolute; left: 50%; bottom: 0; transform: translateX( -50%); }
		}
		.slide-01 { text-align: center; background-image: url(#{$img_path}bg/bg_slide-01.png); } // .slide-01
		.slide-02 { } // .slide-02
	} // .kv
	@media screen and (max-width: 1120px) {
		.kv { height: 554px; 
			.glide{ height: 472.5px !important; }
			.glide__slide { height: 472.5px; }
			.slide {
				img.w-max { width:1120px; height: auto; }
			}
		} // .kv
	}	
	.service { text-align: center; max-width: 960px; padding: $bs*10 $bs*5; margin: 0 auto; box-sizing: border-box;
		.img-01 { margin-bottom: $bs*8; }
		h2 { color: $main_color; font-size: fz(28); font-weight: 700; margin-bottom: $bs*4; }
		p.b-c { display: inline-block; text-align: justify; font-size: fz(18); max-width: 740px; }
	} // .service
	.benefit { text-align: center; max-width: 960px; padding: $bs*10 $bs*5; margin: 0 auto; box-sizing: border-box;
		h2 { color: #fff; font-size: fz(28); font-weight: 700; margin-bottom: $bs*4; letter-spacing: .08em;
			strong { display: inline-block; color: #FFF67C; font-size: 278%; vertical-align: -10%; font-weight: 800; }
		}
		p.b-c { display: inline-block; text-align: justify; font-size: fz(18); max-width: 740px; }
		ul { display: flex; justify-content: space-between; flex-wrap: wrap; 
			li { color: $main_color; text-align: left; position: relative; max-width: 420px; background: #fff; padding: $bs*6 $bs*4; box-sizing: border-box; margin-bottom: $bs*4; 
				h3 { text-align: center; font-size: fz(28); font-weight: 700; margin-bottom: $bs*4; }
				p { line-height: 1.7;
					&.c-c { font-size: fz(18); font-weight: 500; margin-bottom: $bs*2; }
					&.note { font-size: fz(14); }
				}
				.u-l { margin-bottom: $bs*2; }
				&::after { content: ""; position: absolute; left: 0; top: 0; border-style: solid; border-width: 35px 35px 0 0; border-color: #fff67c transparent transparent transparent;}
			}
		}
	} // .benefit
	.flow { text-align: center; max-width: 960px; padding: $bs*10 $bs*5; margin: 0 auto; box-sizing: border-box;
		h2 { font-size: fz(28); font-weight: 700; margin-bottom: $bs*4; letter-spacing: .08em; }
		ul { display: flex; justify-content: space-between; flex-wrap: wrap; 
			li { max-width: 160px; position: relative;
				.ic-flow { background: $main_color; @include border_radius(50%); margin-bottom: $bs*2; }
				h3 { color: $main_color; text-align: center; font-size: fz(18); font-weight: 500; margin-bottom: $bs; }
				p { text-align: justify; line-height: 1.4;
					&.note { font-size: fz(14); }
				}
				&::after { content: ""; position: absolute; right: -32px; top: 72px; border-style: solid; border-width: 8px 0 8px 13.9px; border-color: transparent transparent transparent $main_color;
				}
				&:last-child { 
					&::after { display: none; }
				}
			}
		}
	} // .flow
	.contact { text-align: center; max-width: 960px; padding: $bs*10 $bs*5; margin: 0 auto; box-sizing: border-box;
		h2 { font-size: fz(28); font-weight: 700; margin-bottom: $bs*6; letter-spacing: .08em; }
		.ic { display: inline-block; text-align: center; width: 70px; height: 70px; padding: $bs*3 0; box-sizing: border-box; background: $main_color; @include border_radius(50%); margin-bottom: $bs*2; 
			span {
				&.icon-ic { font-size: fz(22); color: #fff; }
			}
		}
		h3 { color: $main_color; font-size: fz(24); font-weight: 500; margin-bottom: $bs*2; }
		p {
			&.note { }
		}
		#mw_wp_form_mw-wp-form-4 { max-width: 720px; margin: 0 auto;
			form { padding-top: $bs*5; }
		}
	} // .contact
}

#wpmem_login { color: $font_color; font-family: 'Noto Sans Japanese', sans-serif; 
	.form { text-align: center; width: 100%; max-width: 320px; margin: 0 auto;
		fieldset { margin: 0; text-align: left; }
		legend { display: none; }
		.div_text { width: 100%; margin: 0 0 $bs*3 0;
			input { width: 100%; padding: $bs $bs*1.5; box-sizing: border-box;
				@include placeholder { font-size: fz(12); color: rgba($font_color,0.5); }
			}
		}
		.check_css { text-align: left; font-size: fz(11); font-weight: 400; margin-bottom: $bs*2; }
		.button_div { text-align: center; width: 100%; height: auto; padding: 0 $bs*2; margin-bottom: $bs*4; box-sizing: border-box;
			input.bt-submit { margin: 0; padding: 0; background: none; border: none; border-radius: 0; outline: none; @each $prefix in $set_prefix { #{$prefix}appearance:none; }}
			.buttons { width: 180px; padding: $bs !important; margin: $bs*2 auto 0 !important; font-size: fz(14); color: #fff; text-align: center; letter-spacing: .2em; background: $main_color !important; cursor: pointer; border: none; border-radius: 8px !important;
				@each $prefix in $set_prefix { #{$prefix}transition: all 0.3s linear; }
				&:hover { color: rgba( #fff, 0.8); text-decoration: none; }
			}
		}
		.link-text { width: 100%; text-align: center; font-size: fz(11);
			a { color: $main_color; text-decoration: underline; }
		}
	}
}

// 加盟薬局ページ
.page-id-2,
.page-id-29 {
	#contents { }
	.mem-intro { text-align: center; padding: $bs*10 0 0;
		h2 { text-align: center; font-size: fz(28); font-weight: 700; color: $main_color; margin-bottom: $bs*4; }
		.mem-nav {
			ul {
				li { display: inline-block; margin: 0 $bs;
					a { min-width: 160px; box-sizing: border-box;
						&.bt-box { color: $main_color; display: inline-block; padding: $bs*1.5 $bs*1.5; letter-spacing: .12em; text-indent: -.12em; @include border_radius(8px);  border: 2px solid $main_color; background-color: transparent; 
							&.guide { }
							&.list { }
							&.qa { }
						}
						span { vertical-align: middle;
							&.icon-ic { font-size: fz(18); margin-right: $bs; }
						}
						&:hover { color: #fff; background: rgba( $main_color, 0.8); }
					}
				}
			}
		}
		
	} // .mem-intro 
	
	.mem-topics { max-width: 720px; margin: 0 auto; padding: $bs*5 $bs*3;
		h2 { margin-bottom: $bs; padding: 0 $bs;
			span { vertical-align: middle;
				&.icon-ic-hexa { font-size: fz(18); color: $main_color; margin-right: $bs; }
				&.jpn { font-size: fz(16); font-weight: 700; margin-right: $bs; }
				&.eng { font-size: fz(12); color: #BABFBC; }
			}
		}
		.u-l { margin-bottom: $bs*3;}
		.topics-list {
			li { padding: 0 $bs*2 $bs*2; border-bottom: 1px solid $border_color; margin-bottom: $bs*2;
				.p-date { font-size: fz(11); color: #BABFBC; margin-bottom: $bs*2;}
				a.p-title {  font-size: fz(15); color: $font_color; margin-bottom: $bs*2; }
			}
		}
	} // .mem-topics
	
	.mem-login { text-align: center; padding: $bs*10 0 $bs*8;
		h2 { color: $main_color; text-align: center; margin-bottom: $bs*4; 
			.ic { display: inline-block; text-align: center; width: 56px; height: 56px; padding: $bs*1.75 2px $bs*1.5 0; box-sizing: border-box; background: $main_color; @include border_radius(50%); margin: 0 $bs*1.5 0 0; 
				span {
					&.icon-ic { font-size: fz(30); color: #fff; }
				}
			}
			span.txt { display: inline-block; font-size: fz(28); font-weight: 700; padding-top: $bs; }
		}
	} //.mem-login
	.ask-form { text-align: center; max-width: 960px; padding: $bs*10 $bs*5; margin: 0 auto; box-sizing: border-box;
		h2 { color: $main_color; font-size: fz(28); font-weight: 700; margin-bottom: $bs*6; letter-spacing: .08em; }
		form.apply-form { text-align: left; width: 100%; max-width: 960px; box-sizing: border-box; margin: 0 auto $bs*5;
			.unit { line-height: 1.8; padding: $bs*1.5 0; width: 95%; margin: 0 auto $bs;
				&.apply-unit { background: #fff; padding: $bs $bs*1.5; box-sizing: border-box; margin: 0 auto $bs*2;}
			}
			.unit-tbl { width: 100%; background: #fff; border: 2px solid $font_color; box-sizing: border-box; margin-bottom: $bs*2;
				caption { padding: $bs $bs*1.5; color: #fff; background: $font_color; }
				td { padding: $bs; border-right: 1px solid $border_color; border-bottom: 1px solid $border_color; box-sizing: border-box;
					input { width: 100%; height: 100%; font-size: fz(14); padding: $bs $bs*2; border: 2px solid $border_color; box-sizing: border-box;
						&[type=textarea] { height: 64px; }
					}
					select { width: 100%; height: 100%; font-size: fz(14); box-sizing: border-box; color: $font_color; }	
					.customSelect { font-size: fz(14); padding: $bs $bs*2; border: 2px solid $border_color; box-sizing: border-box;
						&.customSelectHover {}
						&.customSelectOpen {}
						&.customSelectFocus {}
					}
					.customSelectInner { background: url(#{$img_path}bg/bg_ssbox_arrow.png) no-repeat right center; background-size: 10px 6px;}
					&.td-2 { width: 18%; }
					&.td-3 { width: 24%; }
					&.td-4 { width: 25%; }
					&.td-5 {
						.d-price { padding: $bs*2 0; border-bottom: 1px solid $border_color; }
						.s-price { padding: $bs*2 0;}
					}
				}
			}
		} // .apply-form
		.conf-form { text-align: left; width: 100%; max-width: 960px; box-sizing: border-box; margin: 0 auto $bs*5;
			.unit-tbl { width: 100%; background: #fff; border: 2px solid $font_color; box-sizing: border-box; margin-bottom: $bs*2;
				td { padding: $bs; border-right: 1px solid $border_color; border-bottom: 1px solid $border_color; box-sizing: border-box;
					&.td-1 { width: 25%; }					
					&.td-2 { width: 12%; }
					&.td-3 { width: 18%; }
					&.td-4 { width: 18%; }
					&.td-5 {
						.d-price { padding: $bs*2 0; border-bottom: 1px solid $border_color; }
						.s-price { padding: $bs*2 0;}
					}
				}
				&.tbl-head { width: 100%; background: $font_color; border: 2px solid $font_color; box-sizing: border-box; margin-bottom: $bs; // 確認画面用
					td { color: #fff !important; border-color: #fff !important;
						&.td-5 {
							.d-price { padding: $bs*2 0; border-bottom: 1px solid #fff; }
						}
					}	
				}
			}
			.total { padding: $bs*5 0; text-align: center;
				.total-d,.total-s { display: inline-block; padding: $bs $bs*1.5; border-bottom: $font_color 2px solid; margin: 0 $bs*1.5;
					span { vertical-align: middle;
						&.ttl { padding-right: $bs; }
						&.price { font-size: fz(24); }
					}
				}
			}
			.submit-area { text-align: center; padding-top: $bs*5;
				.bt-back,
				.bt-send { display: inline-block; color: #fff; width: 200px; padding: $bs $bs*2 !important; margin: 0 $bs*2 auto !important; font-size: fz(14); text-align: center; letter-spacing: .2em; cursor: pointer; border: none; border-radius: 8px !important; box-sizing: border-box;
					@each $prefix in $set_prefix { #{$prefix}transition: all 0.3s linear; }
					&:hover { color: rgba( #fff, 0.8); text-decoration: none; }
				}
				.bt-back { background: rgba($main_color,0.5); }
				.bt-send { background: $main_color; }
			}	
		}
	} //.ask-form
}

// 投稿ページ
.single-post {
	#contents { }
	.p-innr { max-width: 720px; margin: 0 auto; text-align: center; padding: $bs*10 0;
		h2 { font-size: fz(28); font-weight: 700; color: $main_color; margin-bottom: $bs*4; }
		.b-c { font-size: fz(14); letter-spacing: .06em; line-height: 1.8;
			a { color: $font_color; text-decoration: underline; }
		}
		&.loged { text-align: left;
			.p-intro { padding: 0 $bs*2 $bs*2; border-bottom: 1px solid $border_color; margin-bottom: $bs*2;
				.p-date { font-size: fz(11); color: #BABFBC; margin-bottom: $bs*2;}
				h2.p-title { font-size: fz(28); font-weight: 700; color: $main_color;margin-bottom: $bs*2; }
			}
			.p-content { font-size: fz(14); letter-spacing: .06em; line-height: 1.8; padding: 0 $bs*2 $bs*2; }
		}
	} // .p-innr
	
	
	.mem-topics { max-width: 720px; margin: 0 auto; padding: $bs*5 $bs*3;
		h2 { margin-bottom: $bs; padding: 0 $bs;
			span { vertical-align: middle;
				&.icon-ic-hexa { font-size: fz(18); color: $main_color; margin-right: $bs; }
				&.jpn { font-size: fz(16); font-weight: 700; margin-right: $bs; }
				&.eng { font-size: fz(12); color: #BABFBC; }
			}
		}
		.u-l { margin-bottom: $bs*3;}
		.topics-list {
			li { padding: 0 $bs*2 $bs*2; border-bottom: 1px solid $border_color; margin-bottom: $bs*2;
				.p-date { font-size: fz(11); color: #BABFBC; margin-bottom: $bs*2;}
				a.p-title {  font-size: fz(15); color: $font_color; margin-bottom: $bs*2; }
			}
		}
	} // .mem-topics
	
} // .single-post